<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/login-styles.css">
    <title>DEC- Login</title>
  </head>



<body class="full-height-grow">
  <div class="container full-height-grow">

    <header class="main-header">
      <a href="../views/index.ejs" class="brand-logo">
        <img src="/assets/Ecell-LOGO-01.png" />
        <div class="brand-logo-name">DEC</div>
      </a>
      <nav class="main-nav">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../views/task_page.ejs">Tasks</a></li>
          <li><a href="./login.ejs">Login</a></li>
        </ul>
      </nav>
    </header>


    <section class="login-main-section">
      <h1 class="login-text">
        Log
        <span class="accent-text">in.</span>
      </h1>
          <% include ./partials/messages %>
          <form action="/users/login" method="POST" class="login-form">
            <div class="input-group email">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter Email"
              />
            </div>
            <div class="form-group input-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Enter Password"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
            <div class="input-group-last">
              <a class="forgot-button"><label>Forgot Password?</label></a>
            </div>
          </form>
        </section> 
      </div>
    

</div>
</body>
</html>
